@charset "utf-8";
@import "bootstrap";

//Color Palette{

$logo: rgb(239, 86, 17);
$tagline: rgb(0, 162, 143);

body {
  background: #fff;
  text-align: left;
  font-family: ""Lato", "Helvetica Neue", Helvetica, Arial, sans-serif";
  font-size: 1em;
  margin-left: 5em;
}

h1.logo {
  color: $logo;
  display: inline;
  font-family: "adelle", "adelle-2";
  font-size: 120px;
  font-style: italic;
  font-weight: 900;
  text-rendering: optimizelegibility;
  height: auto;
  line-height: 56px;
  text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 0px;
}

.tagline {
  color: $tagline;
  display: block;
  font-family: adelle-1, adelle-2, Georgia, 'Times New Roman', Times, serif;
  font-size: 29px;
  font-weight: 500;
  height: 60px;
  line-height: 60px;
  margin-bottom: 40px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 15px;
  text-rendering: optimizelegibility;
}

.doc {
  margin: 3em 0;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  font-weight: 300;

  a {
    border: 1px solid white;
    border-radius: 3px;
    padding: 0.75em 0.7em;
    color: white;
    text-decoration: none;
    transition: color 0.1s linear;
    &:hover {
      background: rgba(0,0,0,0.2);
      color: white;
      transition: all 0.15s linear;
    }
  }
}

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s;
}

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}
