---
title: Shomeya Styles
---
<div class="main container plain">
  <div class="welcome">
    </br >
    </br >
    <h1>Shomeya</h1>
    <div class="page-header">
      <h4>Two web artists. One amazing company.</h4>

      </br >

      <div class="image">
        <img src="../images/laptop_coffee.svg" height="200px" width="300px">
      </div>

      </br >

      <div class="headers">
        <h3>Headers</h3>

        <div class="headers">
          <h3>Headers</h3>

          <h1>STAHP the Internet</h1>
          <h2>Join the Conversation <i class="icon-comments"></i></h2>
          <h3>YouTube Videos</h3>

        </div>


      <h3>Textures</h3>
      <div class="textures boxes container">
        <div class="box texture-1">
          <span></span>
        </div>

        <div class="box texture-2">
          <span></span>
        </div>

        <div class="box texture-3">
          <span></span>
        </div>
      </div>
    </div>

    </br >

    <h3>Colors</h3>
    <div class="colors boxes container">
      <div class="box color-1">
        <span></span>
      </div>

      <div class="box color-2">
        <span></span>
      </div>

      <div class="box color-3">
        <span></span>
      </div>
    </div>
  </div>

  </br >
  </br >

  <div class="text-buttons">
    <div class="button-styles">
      <button type="button" class="btn btn-default">Buy</button>
      <button type="button" class="btn btn-default">Join!</button>
      <button type="button" class="btn btn-default">Listen in!</button>
    </div>

  </br >

    <p>When your user comes to your site what narrative is told? I don't mean the copy. I mean the behind the scenes
      story. Can they find what they need? Does your site bring angst or joy? Behind every website are a thousand
      choices, both intentional and default. How you use those choices, how you shape the workflow of your build
      process, of your narrative both internally and to the world effects everything. Need to make more money? Your
      website can do that. Need happier customers? Your website can also help with that.</p>
  </div>


  </br >
</div><!-- .welcome -->
</div>
