---
title: Shomeya Styles
---

<div class="welcome">
  </br >
  </br >
  <h1 class="logo plain">Shomeya</h1>
<div class="page-header pain">
  <h2 class="tagline pain">All good things<small> tell good stories</small></h2>
</div>
<div class="navigation">
  <%= link_to 'Current', '/current.html' %>
  <%= link_to 'Style 1', '/style1.html' %>
  <%= link_to 'Style 2', '/style2.html' %>
  <%= link_to 'Style 3', '/style3.html' %>

</div>
</br >
</div><!-- .welcome -->
