---
title: Shomeya Styles
---

<div class="welcome">
  </br >
  </br >
  <h1 class="logo plain">Shomeya</h1>
<div class="page-header plain">
  <h2 class="tagline plain">All good things<small> tell good stories</small></h2>
</div>
</br >
</div><!-- .welcome -->
