---
title: Shomeya Styles
---

<div class="welcome">
  </br >
  </br >
  <h1 class="logo">Shomeya</h1>
<div class="page-header">
  <h2 class="tagline">All good things<small> tell good stories</small></h2>
</div>
</br >
  <button type="button" class="btn btn-default">Buy</button>
</div><!-- .welcome -->
